<section id="section-events" class="container mx-auto px-8 py-24">
  <h2 class="section-title">Évènements</h2>
  <div class="section-content">
    <p>
      Je sillonne les routes de Midi-Pyrénées de quelques heures à plusieurs
      jours.
    </p>
    <ul>
      <li>- Congrès</li>
      <li>- garden-party</li>
      <li>- conférences</li>
      <li>- séminaires</li>
      <li>- forums</li>
      <li>- réunions politiques</li>
      <li>- assemblées générales</li>
      <li>- colloques</li>
      <li>- mariages</li>
      <li>- salons</li>
      <li>- événements d'entreprise</li>
      <li>- inaugurations</li>
      <li>- road show</li>
      <li>- foires</li>
      <li>- événements sportifs</li>
      <li>- débats</li>
      <li>- fêtes religieuses</li>
      <li>- expositions</li>
      <li>- cérémonies</li>
      <li>- portes ouvertes</li>
      <li>- soirées privées</li>
      <li>- évènements culturels</li>
      <li>- cocktails</li>
      <li>- lancements de produits</li>
      <li>- spectacles</li>
      <li>- vernissages</li>
      <li>- galas</li>
      <li>- festivals</li>
      <li>- réceptions</li>
    </ul>
  </div>
</section>
