<section id="section-events">
  <div class="">
    <div class="container mx-auto px-8 py-12 sm:py-24">
      <h2 class="section-title">
        <span>Évènements</span>
        <img
        class="self-end"
        src="../images/foulard.webp"
        alt="foulard"
        width="30"
        height="22"
        />
      </h2>
      <div class="section-content">
        <p class="italic text-center">
          Je sillonne les routes de Midi-Pyrénées de quelques heures à plusieurs
          jours.
        </p>
        <div
        class="mt-11 grid grid-cols-2 md:grid-cols-3 gap-2 sm:gap-4 text-xs sm:text-sm"
        >
        <div class="text-center font-semibold">Congrès</div>
        <div class="text-center font-semibold">Garden-party</div>
        <div class="text-center font-semibold">Conférences</div>
        <div class="text-center font-semibold">Séminaires</div>
        <div class="text-center font-semibold">Forums</div>
        <div class="text-center font-semibold">Réunions politiques</div>
        <div class="text-center font-semibold">Assemblées générales</div>
        <div class="text-center font-semibold">Colloques</div>
        <div class="text-center font-semibold">Mariages</div>
        <div class="text-center font-semibold">Salons</div>
        <div class="text-center font-semibold">Évènements d'entreprise</div>
        <div class="text-center font-semibold">Inaugurations</div>
        <div class="text-center font-semibold">Road show</div>
        <div class="text-center font-semibold">Foires</div>
        <div class="text-center font-semibold">Évènements sportifs</div>
        <div class="text-center font-semibold">Débats</div>
        <div class="text-center font-semibold">Fêtes religieuses</div>
        <div class="text-center font-semibold">Expositions</div>
        <div class="text-center font-semibold">Cérémonies</div>
        <div class="text-center font-semibold">Portes ouvertes</div>
        <div class="text-center font-semibold">Soirées privées</div>
        <div class="text-center font-semibold">Évènements culturels</div>
        <div class="text-center font-semibold">Cocktails</div>
        <div class="text-center font-semibold">Lancements de produits</div>
        <div class="text-center font-semibold">Spectacles</div>
        <div class="text-center font-semibold">Vernissages</div>
        <div class="text-center font-semibold">Galas</div>
        <div class="text-center font-semibold">Festivals</div>
        <div class="text-center font-semibold">Réceptions</div>
        <div class="text-center font-semibold">Voeux entreprise</div>
      </div>
    </div>
  </div>
  </section>
  