<section class="bg-gray-100">
  <div class="container mx-auto px-5 py-12 sm:py-24">
    <h1 class="section-title">
      <span>Demande de devis</span>
      <img
        class="self-end"
        src="../images/foulard.webp"
        alt="foulard"
        width="30"
        height="22"
      />
    </h1>
    <div class="section-content">
      <p class="max-w-prose mb-10 mx-auto">
        Je vous invite à remplir le formulaire. Celui-ci me permet de connaître
        vos attentes.<br />
        Je vous envoie dans les meilleurs délais une proposition de
        collaboration qui n'engage en rien.<br /><br />
        A bientôt, Audrey
      </p>
      <!-- https://kwes.io/api/foreign/forms/pCRvkoPZ4QXZfFkTAQLq -->
      <form
        class="kwes-form"
        action="https://kwes.io/api/foreign/forms/rfq3dSerK80B1FIXp8r0"
        data-kw-lang="fr"
      >
        <div>
          <div
            class="flex flex-col md:flex-row space-y-10 md:space-y-0 md:space-x-10 border-t-2 border-gray-300 py-5"
          >
            <div class="max-w-prose md:w-1/3">
              <div class="text-gray-700 font-bold text-lg">Votre évènement</div>
              <div class="text-sm">
                Renseignez ici les informations générales concernant votre
                évènement.
              </div>
            </div>
            <div class="flex-1">
              <!-- Intitulé de l'évènement -->
              <div class="mb-6">
                <label
                  class="block text-gray-700 font-semibold mb-2"
                  for="event-name"
                  >Intitulé de l'évènement</label
                >
                <input
                  id="event-name"
                  name="nom-evenement"
                  type="text"
                  class="w-full p-2 rounded-lg"
                  placeholder=""
                  rules="required|max:255"
                />
              </div>

              <!-- Type d'évènement -->
              <div class="mb-6">
                <label class="block text-gray-700 font-semibold mb-2"
                  >Type d'évènement</label
                >
                <fieldset
                  data-kw-group
                  class="grid grid-cols-2 md:grid-cols-3 gap-2 text-xs sm:text-sm"
                  rules="required"
                >
                  <div class="flex items-center space-x-2">
                    <input
                      type="checkbox"
                      id="Anniversaires"
                      name="type-evenement"
                      value="Anniversaires"
                    />
                    <label for="Anniversaires">Anniversaires</label>
                  </div>
                  <div class="flex items-center space-x-2">
                    <input
                      type="checkbox"
                      id="Assemblées-générales"
                      name="type-evenement"
                      value="Assemblées générales"
                    />
                    <label for="Assemblées-générales"
                      >Assemblées générales</label
                    >
                  </div>
                  <div class="flex items-center space-x-2">
                    <input
                      type="checkbox"
                      id="Cérémonies"
                      name="type-evenement"
                      value="Cérémonies"
                    />
                    <label for="Cérémonies">Cérémonies</label>
                  </div>
                  <div class="flex items-center space-x-2">
                    <input
                      type="checkbox"
                      id="Cocktails"
                      name="type-evenement"
                      value="Cocktails"
                    />
                    <label for="Cocktails">Cocktails</label>
                  </div>
                  <div class="flex items-center space-x-2">
                    <input
                      type="checkbox"
                      id="Colloques"
                      name="type-evenement"
                      value="Colloques"
                    />
                    <label for="Colloques">Colloques</label>
                  </div>
                  <div class="flex items-center space-x-2">
                    <input
                      type="checkbox"
                      id="Conférences"
                      name="type-evenement"
                      value="Conférences"
                    />
                    <label for="Conférences">Conférences</label>
                  </div>
                  <div class="flex items-center space-x-2">
                    <input
                      type="checkbox"
                      id="Congrès"
                      name="type-evenement"
                      value="Congrès"
                    />
                    <label for="Congrès">Congrès</label>
                  </div>
                  <div class="flex items-center space-x-2">
                    <input
                      type="checkbox"
                      id="Débats"
                      name="type-evenement"
                      value="Débats"
                    />
                    <label for="Débats">Débats</label>
                  </div>
                  <div class="flex items-center space-x-2">
                    <input
                      type="checkbox"
                      id="Expositions"
                      name="type-evenement"
                      value="Expositions"
                    />
                    <label for="Expositions">Expositions</label>
                  </div>
                  <div class="flex items-center space-x-2">
                    <input
                      type="checkbox"
                      id="Évènements-culturels"
                      name="type-evenement"
                      value="Évènements culturels"
                    />
                    <label for="Évènements-culturels"
                      >Évènements culturels</label
                    >
                  </div>
                  <div class="flex items-center space-x-2">
                    <input
                      type="checkbox"
                      id="Évènements-d-entreprise"
                      name="type-evenement"
                      value="Évènements d'entreprise"
                    />
                    <label for="Évènements-d-entreprise"
                      >Évènements d'entreprise</label
                    >
                  </div>
                  <div class="flex items-center space-x-2">
                    <input
                      type="checkbox"
                      id="Évènements-sportifs"
                      name="type-evenement"
                      value="Évènements sportifs"
                    />
                    <label for="Évènements-sportifs">Évènements sportifs</label>
                  </div>
                  <div class="flex items-center space-x-2">
                    <input
                      type="checkbox"
                      id="Festivals"
                      name="type-evenement"
                      value="Festivals"
                    />
                    <label for="Festivals">Festivals</label>
                  </div>
                  <div class="flex items-center space-x-2">
                    <input
                      type="checkbox"
                      id="Foires"
                      name="type-evenement"
                      value="Foires"
                    />
                    <label for="Foires">Foires</label>
                  </div>
                  <div class="flex items-center space-x-2">
                    <input
                      type="checkbox"
                      id="Forums"
                      name="type-evenement"
                      value="Forums"
                    />
                    <label for="Forums">Forums</label>
                  </div>
                  <div class="flex items-center space-x-2">
                    <input
                      type="checkbox"
                      id="Fêtes-religieuses"
                      name="type-evenement"
                      value="Fêtes religieuses"
                    />
                    <label for="Fêtes-religieuses">Fêtes religieuses</label>
                  </div>
                  <div class="flex items-center space-x-2">
                    <input
                      type="checkbox"
                      id="Galas"
                      name="type-evenement"
                      value="Galas"
                    />
                    <label for="Galas">Galas</label>
                  </div>
                  <div class="flex items-center space-x-2">
                    <input
                      type="checkbox"
                      id="Garden-party"
                      name="type-evenement"
                      value="Garden-party"
                    />
                    <label for="Garden-party">Garden-party</label>
                  </div>
                  <div class="flex items-center space-x-2">
                    <input
                      type="checkbox"
                      id="Inaugurations"
                      name="type-evenement"
                      value="Inaugurations"
                    />
                    <label for="Inaugurations">Inaugurations</label>
                  </div>
                  <div class="flex items-center space-x-2">
                    <input
                      type="checkbox"
                      id="Lancements-de-produits"
                      name="type-evenement"
                      value="Lancements de produits"
                    />
                    <label for="Lancements-de-produits"
                      >Lancements de produits</label
                    >
                  </div>
                  <div class="flex items-center space-x-2">
                    <input
                      type="checkbox"
                      id="Mariages"
                      name="type-evenement"
                      value="Mariages"
                    />
                    <label for="Mariages">Mariages</label>
                  </div>
                  <div class="flex items-center space-x-2">
                    <input
                      type="checkbox"
                      id="Portes-ouvertes"
                      name="type-evenement"
                      value="Portes ouvertes"
                    />
                    <label for="Portes-ouvertes">Portes ouvertes</label>
                  </div>
                  <div class="flex items-center space-x-2">
                    <input
                      type="checkbox"
                      id="Road-show"
                      name="type-evenement"
                      value="Road show"
                    />
                    <label for="Road-show">Road show</label>
                  </div>
                  <div class="flex items-center space-x-2">
                    <input
                      type="checkbox"
                      id="Réceptions"
                      name="type-evenement"
                      value="Réceptions"
                    />
                    <label for="Réceptions">Réceptions</label>
                  </div>
                  <div class="flex items-center space-x-2">
                    <input
                      type="checkbox"
                      id="Réunions-politiques"
                      name="type-evenement"
                      value="Réunions politiques"
                    />
                    <label for="Réunions-politiques">Réunions politiques</label>
                  </div>
                  <div class="flex items-center space-x-2">
                    <input
                      type="checkbox"
                      id="Salons"
                      name="type-evenement"
                      value="Salons"
                    />
                    <label for="Salons">Salons</label>
                  </div>
                  <div class="flex items-center space-x-2">
                    <input
                      type="checkbox"
                      id="Séminaires"
                      name="type-evenement"
                      value="Séminaires"
                    />
                    <label for="Séminaires">Séminaires</label>
                  </div>
                  <div class="flex items-center space-x-2">
                    <input
                      type="checkbox"
                      id="Soirées-privées"
                      name="type-evenement"
                      value="Soirées privées"
                    />
                    <label for="Soirées-privées">Soirées privées</label>
                  </div>
                  <div class="flex items-center space-x-2">
                    <input
                      type="checkbox"
                      id="Spectacles"
                      name="type-evenement"
                      value="Spectacles"
                    />
                    <label for="Spectacles">Spectacles</label>
                  </div>
                  <div class="flex items-center space-x-2">
                    <input
                      type="checkbox"
                      id="Vernissages"
                      name="type-evenement"
                      value="Vernissages"
                    />
                    <label for="Vernissages">Vernissages</label>
                  </div>
                  <div class="flex items-center space-x-2">
                    <input
                      type="checkbox"
                      id="Voeux-entreprise"
                      name="type-evenement"
                      value="Voeux entreprise"
                    />
                    <label for="Voeux-entreprise">Voeux entreprise</label>
                  </div>
                </fieldset>
              </div>

              <!-- Lieu de l’évènement -->
              <div class="mb-6">
                <label
                  class="block text-gray-700 font-semibold mb-2"
                  for="event-place"
                  >Lieu de l’évènement</label
                >
                <input
                  id="event-place"
                  name="lieu-evenement"
                  type="text"
                  class="w-full p-2 rounded-lg"
                  placeholder="Adresse exacte"
                  rules="required|max:255"
                />
              </div>

              <!-- Nombre d’invités attendus -->
              <div class="">
                <label
                  class="block text-gray-700 font-semibold mb-2"
                  for="event-number"
                  >Nombre d’invités attendus</label
                >
                <input
                  id="event-number"
                  name="nombre-invites"
                  type="number"
                  min="0"
                  class="w-full p-2 rounded-lg"
                  rules="required"
                />
              </div>
            </div>
          </div>

          <div
            class="flex flex-col md:flex-row space-y-10 md:space-y-0 md:space-x-10 border-t-2 border-gray-300 py-5"
          >
            <div class="max-w-prose md:w-1/3">
              <div class="text-gray-700 font-bold text-lg">Mes prestations</div>
              <div class="text-sm">
                Renseignez ici la date et le type de prestations que vous
                souhaitez, le briefing ou tout autre information complémentaire.
              </div>
            </div>
            <fieldset data-kw-group class="flex-1" rules="required">
              <!-- Prestations souhaitées -->
              <div class="mb-6">
                <label class="block text-gray-700 font-semibold mb-2"
                  >Prestations souhaitées</label
                >
                <div
                  class="grid grid-cols-2 md:grid-cols-3 gap-2 text-xs sm:text-sm"
                >
                  <div class="flex items-center space-x-2">
                    <input
                      type="checkbox"
                      id="Accompagnement-et-transfert-VIP"
                      name="prestations-souhaitees"
                      value="Accompagnement et transfert VIP"
                    />
                    <label for="Accompagnement-et-transfert-VIP"
                      >Accompagnement et transfert VIP</label
                    >
                  </div>
                  <div class="flex items-center space-x-2">
                    <input
                      type="checkbox"
                      id="Accueil-café"
                      name="prestations-souhaitees"
                      value="Accueil café"
                    />
                    <label for="Accueil-café">Accueil café</label>
                  </div>
                  <div class="flex items-center space-x-2">
                    <input
                      type="checkbox"
                      id="Accueil-physique"
                      name="prestations-souhaitees"
                      value="Accueil physique"
                    />
                    <label for="Accueil-physique">Accueil physique</label>
                  </div>
                  <div class="flex items-center space-x-2">
                    <input
                      type="checkbox"
                      id="Assistance-en-salle"
                      name="prestations-souhaitees"
                      value="Assistance en salle"
                    />
                    <label for="Assistance-en-salle">Assistance en salle</label>
                  </div>
                  <div class="flex items-center space-x-2">
                    <input
                      type="checkbox"
                      id="Contrôle-d-accès-aux-salles"
                      name="prestations-souhaitees"
                      value="Contrôle d'accès aux salles"
                    />
                    <label for="Contrôle-d-accès-aux-salles"
                      >Contrôle d'accès aux salles</label
                    >
                  </div>
                  <div class="flex items-center space-x-2">
                    <input
                      type="checkbox"
                      id="Dépôt-de-gerbes"
                      name="prestations-souhaitees"
                      value="Dépôt de gerbes"
                    />
                    <label for="Dépôt-de-gerbes">Dépôt de gerbes</label>
                  </div>
                  <div class="flex items-center space-x-2">
                    <input
                      type="checkbox"
                      id="Émargement-listing"
                      name="prestations-souhaitees"
                      value="Émargement listing"
                    />
                    <label for="Émargement-listing">Émargement listing</label>
                  </div>
                  <div class="flex items-center space-x-2">
                    <input
                      type="checkbox"
                      id="Orientation"
                      name="prestations-souhaitees"
                      value="Orientation"
                    />
                    <label for="Orientation">Orientation</label>
                  </div>
                  <div class="flex items-center space-x-2">
                    <input
                      type="checkbox"
                      id="Passage-micro"
                      name="prestations-souhaitees"
                      value="Passage micro"
                    />
                    <label for="Passage-micro">Passage micro</label>
                  </div>
                  <div class="flex items-center space-x-2">
                    <input
                      type="checkbox"
                      id="placement-en-salle"
                      name="prestations-souhaitees"
                      value="Placement en salle"
                    />
                    <label for="placement-en-salle">Placement en salle</label>
                  </div>
                  <div class="flex items-center space-x-2">
                    <input
                      type="checkbox"
                      id="Prise-de-contacts-sur-stand"
                      name="prestations-souhaitees"
                      value="Prise de contacts sur stand"
                    />
                    <label for="Prise-de-contacts-sur-stand"
                      >Prise de contacts sur stand</label
                    >
                  </div>
                  <div class="flex items-center space-x-2">
                    <input
                      type="checkbox"
                      id="Remise-de-badges-documents-cadeaux"
                      name="prestations-souhaitees"
                      value="Remise de badges / documents / cadeaux"
                    />
                    <label for="Remise-de-badges-documents-cadeaux"
                      >Remise de badges / documents / cadeaux</label
                    >
                  </div>
                  <div class="flex items-center space-x-2">
                    <input
                      type="checkbox"
                      id="Remise-de-trophées-prix"
                      name="prestations-souhaitees"
                      value="Remise de trophées / prix"
                    />
                    <label for="Remise-de-trophées-prix"
                      >Remise de trophées / prix</label
                    >
                  </div>
                  <div class="flex items-center space-x-2">
                    <input
                      type="checkbox"
                      id="Service-boissons"
                      name="prestations-souhaitees"
                      value="Service boissons"
                    />
                    <label for="Service-boissons">Service boissons</label>
                  </div>
                  <div class="flex items-center space-x-2">
                    <input
                      type="checkbox"
                      id="Tenue-de-stand"
                      name="prestations-souhaitees"
                      value="Tenue de stand"
                    />
                    <label for="Tenue-de-stand">Tenue de stand</label>
                  </div>
                  <div class="flex items-center space-x-2">
                    <input
                      type="checkbox"
                      id="Vestiaire"
                      name="prestations-souhaitees"
                      value="Vestiaire"
                    />
                    <label for="Vestiaire">Vestiaire</label>
                  </div>
                </div>
              </div>

              <!-- Dates et horaires des prestations -->
              <div class="mb-6">
                <label
                  class="block text-gray-700 font-semibold mb-2"
                  for="event-date"
                  >Dates et horaires des prestations</label
                >
                <textarea
                  id="event-date"
                  name="dates-et-horaires-des-prestations"
                  class="w-full p-2 rounded-lg"
                  placeholder="Précisez dates et horaires de chaque jour"
                  rules="required|max:255"
                ></textarea>
              </div>

              <!-- Briefing -->
              <div class="mb-6">
                <label
                  class="block text-gray-700 font-semibold mb-2"
                  for="event-briefing"
                  >Briefing</label
                >
                <div class="flex space-x-4 mb-2">
                  <div>Nous échangeons autour :</div>
                  <fieldset data-kw-group rules="required">
                    <div>
                      <input
                        type="radio"
                        id="briefing-place-tel"
                        name="deroulement-briefing"
                        value="Par téléphone"
                      />
                      <label for="briefing-place-tel"
                        >d'un rendez-vous téléphonique</label
                      >
                    </div>
                    <div>
                      <input
                        type="radio"
                        id="briefing-place-on-time"
                        name="deroulement-briefing"
                        value="Sur le lieu de l’évènement"
                      />
                      <label for="briefing-place-on-time"
                        >d'un face à face sur le lieu de l'évènement</label
                      >
                    </div>
                    <div>
                      <input
                        type="radio"
                        id="briefing-place-mail"
                        name="deroulement-briefing"
                        value="Par mail"
                        checked
                      />
                      <label for="briefing-place-mail">d'un mail</label>
                    </div>
                  </fieldset>
                </div>
                <input
                  class="w-full p-2 rounded-lg mb-2"
                  type="text"
                  id="event-briefing"
                  name="briefing-date-et-heures"
                  placeholder="Précisez la date et l'heure"
                  rules="required|max:255"
                />
              </div>

              <!-- Informations complémentaires -->
              <div class="mb-6">
                <label
                  class="block text-gray-700 font-semibold mb-2"
                  for="event-complementary"
                  >Informations complémentaires</label
                >
                <textarea
                  id="event-complementary"
                  name="informations-complementaires"
                  class="w-full p-2 rounded-lg"
                  rows="5"
                  placeholder="Prise de repas, pauses, déroulement de l'évènement, particularités..."
                  rules="required"
                ></textarea>
              </div>
            </fieldset>
          </div>

          <div
            class="flex flex-col md:flex-row space-y-10 md:space-y-0 md:space-x-10 border-t-2 border-gray-300 py-5"
          >
            <div class="max-w-prose md:w-1/3">
              <div class="text-gray-700 font-bold text-lg">
                Vos informations
              </div>
              <div class="text-sm">
                Saisissez ici vos coordonées pour que je puisse vous
                recontacter.
              </div>
            </div>
            <div class="flex-1">
              <!-- Nom client -->
              <div class="mb-6">
                <label
                  class="block text-gray-700 font-semibold mb-2"
                  for="event-name-client"
                  >Nom</label
                >
                <input
                  id="event-name-client"
                  name="nom-client"
                  type="text"
                  class="w-full p-2 rounded-lg"
                  placeholder=""
                  rules="required|max:255"
                />
              </div>

              <!-- Prénom client -->
              <div class="mb-6">
                <label
                  class="block text-gray-700 font-semibold mb-2"
                  for="event-firstname-client"
                  >Prénom</label
                >
                <input
                  id="event-firstname-client"
                  name="prenom-client"
                  type="text"
                  class="w-full p-2 rounded-lg"
                  placeholder=""
                  rules="required|max:255"
                />
              </div>

              <!-- Vous êtes ? -->
              <div class="mb-6">
                <label
                  class="block text-gray-700 font-semibold mb-2"
                  for="event-who"
                  >Vous êtes ?</label
                >
                <fieldset data-kw-group rules="required" class="flex space-x-4">
                  <div>
                    <input
                      type="radio"
                      id="event-who-particulier"
                      name="type-de-client"
                      value="Vous êtes un particulier"
                      checked
                    />
                    <label for="event-who-particulier">Particulier</label>
                  </div>
                  <div>
                    <input
                      type="radio"
                      id="event-who-professionnel"
                      name="type-de-client"
                      value="Vous êtes un professionnel"
                    />
                    <label for="event-who-professionnel">Professionnel</label>
                  </div>
                </fieldset>
              </div>

              <!-- Société client -->
              <div id="company-infos" class="invisible h-0">
                <div id="company-client" class="mb-6">
                  <label
                    class="block text-gray-700 font-semibold mb-2"
                    for="event-company-client"
                    >Société</label
                  >
                  <input
                    id="event-company-client"
                    name="societe-du-client"
                    type="text"
                    class="w-full p-2 rounded-lg"
                    placeholder=""
                  />
                </div>

                <!-- Fonction client -->
                <div id="function-client" class="mb-6">
                  <label
                    class="block text-gray-700 font-semibold mb-2"
                    for="event-function-client"
                    >Fonction</label
                  >
                  <input
                    id="event-function-client"
                    name="fonction-du-client"
                    type="text"
                    class="w-full p-2 rounded-lg"
                    placeholder=""
                  />
                </div>
              </div>

              <!-- Adresse -->
              <div class="mb-6">
                <label
                  class="block text-gray-700 font-semibold mb-2"
                  for="event-adress-client"
                  >Adresse</label
                >
                <input
                  id="event-adress-client"
                  name="adresse-client"
                  type="text"
                  class="w-full p-2 rounded-lg"
                  placeholder=""
                  rules="required|max:255"
                />
              </div>

              <!-- Téléphone client -->
              <div class="mb-6">
                <label
                  class="block text-gray-700 font-semibold mb-2"
                  for="event-tel-client"
                  >Téléphone</label
                >
                <input
                  id="event-tel-client"
                  name="telephone-client"
                  type="text"
                  class="w-full p-2 rounded-lg"
                  placeholder=""
                  rules="required|max:255"
                />
              </div>

              <!-- Mail client -->
              <div class="mb-6">
                <label
                  class="block text-gray-700 font-semibold mb-2"
                  for="event-mail-client"
                  >Mail</label
                >
                <input
                  id="event-mail-client"
                  name="mail-client"
                  type="text"
                  class="w-full p-2 rounded-lg"
                  placeholder=""
                  rules="required|email"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="pt-7">
          <button
            id="button-send"
            class="flex items-center justify-center w-full sm:w-auto mx-auto px-20 py-2 rounded-lg bg-red-700 text-white float-right"
            type="submit"
            aria-label="Envoyer"
          >
            <div>Envoyer</div>
            <div class="h-5 w-5 transform rotate-90 ml-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"
                />
              </svg>
            </div>
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
