<div class="h-20 bg-white fixed z-10 w-screen px-8 py-7">
  <div class="container mx-auto flex justify-between items-center">
    <div class="text-gray-600 text-base uppercase tracking-widest">
      Audrey Pons
    </div>
    <div class="hidden sm:flex space-x-9">
      <div class="text-sm">Qui suis-je</div>
      <div class="text-sm">Tenues</div>
      <div class="text-sm">Prestations</div>
      <div class="text-sm">Évènements</div>
    </div>
    <div class="sm:hidden h-6 w-6">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"
        />
      </svg>
    </div>
  </div>
</div>
