<div class="h-20 bg-white fixed z-10 w-screen">
  <div class="container mx-auto flex justify-between items-center px-8 py-7">
    <div class="text-gray-600 text-base uppercase tracking-widest">
      Audrey Pons
    </div>
    <div class="hidden md:flex space-x-9">
      <div class="text-sm uppercase">Je suis Aurdrey</div>
      <div class="text-sm uppercase">Tenues</div>
      <div class="text-sm uppercase">Prestations</div>
      <div class="text-sm uppercase">Évènements</div>
    </div>
    <div class="md:hidden h-6 w-6">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"
        />
      </svg>
    </div>
  </div>
</div>
