<section id="section-outfits">
  <div class="container mx-auto px-8 py-12 sm:py-24">
    <h2 class="section-title">
      <span>Tenues</span>
      <img
        class="self-end"
        src="../images/foulard.png"
        alt="foulard"
        width="30"
        height="22"
      />
    </h2>
    <div class="section-content">
      <p>Je dispose d'un choix de tenues.</p>
      <p>
        Habituellement chaussée de mes Doc Martens, je serai toujours élégante
        en talons, derbies ou petites baskets lors de vos événements.
      </p>
      <p>Photos sur demande via https://pixieset.com/.</p>
    </div>
  </div>
</section>
