<section id="section-services">
  <div class="bg-gray-100">
    <div class="container mx-auto px-8 py-24">
      <h2 class="section-title">
        <span>Prestations</span>
        <img
          class="self-end"
          src="../images/foulard.png"
          alt="foulard"
          width="30"
          height="22"
        />
      </h2>
      <div class="section-content">
        <p class="italic text-center">
          J'interviens en journée, soirée, semaine, week-end, Jours-féries.
        </p>
        <div
          class="flex flex-col md:flex-row justify-center md:space-x-11 mt-11 text-sm sm:text-base"
        >
          <ul class="list-disc list-inside">
            <li>Accueil physique</li>
            <li>Accompagnement et transfert VIP</li>
            <li>Orientation</li>
            <li>Dépôt de gerbes</li>
            <li>Service boissons</li>
            <li>Passage micro</li>
            <li>Accueil café</li>
          </ul>
          <ul class="list-disc list-inside">
            <li>Tenue de stand</li>
            <li>Assistance et placement en salle</li>
            <li>Émargement listing</li>
            <li>Remise de badges / documents / cadeaux</li>
            <li>Vestiaire</li>
            <li>Prise de contacts sur stand</li>
            <li>Remise de trophées</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
