<section id="section-services">
  <div class="bg-gray-200">
    <div class="container mx-auto px-8 py-24">
      <h2 class="section-title">Prestations</h2>
      <div class="section-content">
        <p class="italic text-center">
          J'interviens en journée, soirée, semaine, week-end, Jours-féries.
        </p>
        <div
          class="flex flex-col md:flex-row justify-center md:space-x-11 mt-11"
        >
          <ul>
            <li>- accueil physique</li>
            <li>- accompagnement et transfert VIP</li>
            <li>- orientation</li>
            <li>- dépôt de gerbes</li>
            <li>- service boissons</li>
          </ul>
          <ul>
            <li>- passage micro</li>
            <li>- accueil café</li>
            <li>- tenue de stand</li>
            <li>- assistance en salle</li>
            <li>- émargement listing</li>
          </ul>
          <ul>
            <li>- placement en salle</li>
            <li>- remise de badges/documents/cadeaux</li>
            <li>- vestiaire</li>
            <li>- prise de contacts sur stand</li>
            <li>- remise de trophées</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
