<section class="container mx-auto px-8 pb-48">
  <h2 class="section-title">Prestations</h2>
  <div class="section-content">
    <p>J'interviens en journée, soirée, semaine, week-end, Jours-féries.</p>
    <ul>
      <li>- accueil physique</li>
      <li>- accompagnement et transfert VIP</li>
      <li>- orientation</li>
      <li>- dépôt de gerbes</li>
      <li>- service boissons</li>
      <li>- passage micro</li>
      <li>- accueil café</li>
      <li>- tenue de stand</li>
      <li>- assistance en salle</li>
      <li>- émargement listing</li>
      <li>- placement en salle</li>
      <li>- remise de badges/documents/cadeaux</li>
      <li>- vestiaire</li>
      <li>- prise de contacts sur stand</li>
      <li>- remise de trophées</li>
    </ul>
  </div>
</section>
