<section class="container mx-auto px-8 pb-48">
  <h2 class="section-title">Qui suis-je</h2>
  <div class="flex items-center space-x-36">
    <img
      class="rounded-full w-52"
      src="../images/profile.jpg"
      width="100"
      height="100"
    />
    <div class="flex-1 section-content">
      <p>Toulousaine, jeune femme simple, naturelle et dynamique.</p>
      <p>
        Avide de découvertes, je suis passionnée par les voyages et le tourisme
        en France. J'ai une vie trépidante. Je suis fan des années 80 et j'adore
        écouter « Indochine » et « Depeche Mode ».
      </p>
      <p>
        Riche d'un parcours professionnel dans le domaine de l'accueil depuis
        plus de vingt ans, c'est tout naturellement que je me suis destinée vers
        l'événementiel qui m'apporte satisfaction. Chaque projet est unique
        alors je m'enrichi de prestations en prestations.
      </p>
      <p>
        J'ai choisi ce métier pour le relationnel, le service, les nouvelles
        rencontres, la diversité des événements et des cadres de travail ; cela
        m'amène à me déplacer sur l'ensemble de la région Midi-Pyrénées.
      </p>
      <p>
        Je suis soignée. J'assure des prestations dans un esprit de
        bienveillance et de rigueur. J'aime me sentir impliquée et satisfaire la
        demande de la clientèle.
      </p>
      <p>
        Souvent ce métier est défini par une image « d'une plante verte dans un
        coin pour faire joli ». Je veux changer cela. Je me suis donc lancée en
        free-lance en 2018. J'ai sauté le pas et pris mon envol pour pouvoir
        élargir ma palette d'interventions.
      </p>
      <p>Je serai ravie d'établir de nouvelles collaborations.</p>
      <p>À bientôt.</p>
    </div>
  </div>
</section>
