<!DOCTYPE html>
<html class="no-js" lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Audrey Pons</title>
    <meta name="description" content="Site professionnel d'Audrey Pons" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    <!-- <link rel="manifest" href="site.webmanifest" /> -->
    <!-- <link rel="apple-touch-icon" href="icon.png" /> -->
    <!-- Place favicon.ico in the root directory -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap"
      rel="stylesheet"
    />
    <style>
      .hide {
        display: none;
      }
    </style>
  </head>

  <body class="hide transition-opacity duration-700 opacity-0">
    <!-- Header -->
    <%= require('html-loader!./partials/header.html') %>

    <!-- Intro -->
    <%= require('html-loader!./partials/intro.html') %>

    <div class="pt-16">
      <!-- Je suis Audrey-->
      <%= require('html-loader!./partials/who.html') %>

      <!-- Tenues -->
      <%= require('html-loader!./partials/outfits.html') %>

      <!-- Prestations -->
      <%= require('html-loader!./partials/services.html') %>

      <!-- Evenements -->
      <%= require('html-loader!./partials/events.html') %>

      <!-- Contact -->
      <%= require('html-loader!./partials/contact.html') %>

      <!-- Footer -->
      <%= require('html-loader!./partials/footer.html') %>

      <!-- Floating buttons -->
      <%= require('html-loader!./partials/floating-buttons.html') %>
    </div>
  </body>
</html>
