<!DOCTYPE html>
<html class="no-js" lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Audrey Pons | Hôtesse en évènementiel</title>
    <meta
      name="description"
      content="Site professionnel d'Audrey Pons, hôtesse indépendante en évènementiel"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    <!-- <link rel="manifest" href="site.webmanifest" /> -->
    <!-- <link rel="apple-touch-icon" href="icon.png" /> -->
    <!-- Place favicon.ico in the root directory -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/tiny-slider.css"
    />
    <!--[if (lt IE 9)
      ]><script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/min/tiny-slider.helper.ie8.js"></script
    ><![endif]-->
    <style>
      .hide {
        display: none;
      }
    </style>
  </head>

  <body class="hide antialiased transition-opacity duration-500 opacity-0">
    <!-- Header -->
    <%= require('html-loader!./partials/header.html') %>

    <!-- Intro -->
    <%= require('html-loader!./partials/intro.html') %>

    <div class="pt-16">
      <!-- Je suis Audrey-->
      <%= require('html-loader!./partials/who.html') %>

      <!-- Prestations -->
      <%= require('html-loader!./partials/services.html') %>

      <!-- Carousel -->
      <%= require('html-loader!./partials/carousel.html') %>

      <!-- Evenements -->
      <%= require('html-loader!./partials/events.html') %>

      <!-- Tenues -->
      <%= require('html-loader!./partials/outfits.html') %>

      <!-- Contact -->
      <%= require('html-loader!./partials/contact.html') %>

      <!-- Footer -->
      <%= require('html-loader!./partials/footer.html') %>

      <!-- Floating buttons -->
      <%= require('html-loader!./partials/floating-buttons.html') %>
    </div>
  </body>
</html>
